.coal-time-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header {
  position: relative;
  background-color: #7b1fa2;
  height: 200px;
  top: 64px;
  padding: 10px;
  color: white;
}

.avatar {
  border: 5px solid white;
  border-radius: 50%;
  height: 150px;
  position: fixed;
  top: 200px;
}
.profile {
  position: fixed;
  bottom: 20px;
  color: white;
}

.profile img {
  border: 1px solid white;
  border-radius: 50%;
  height: 26px;
  margin: 0 4px 3px 0;
}

.posts {
  background-color: white;
  width: 950px;
  height: 600px;
  position: fixed;
  left: 300px;
  top: 100px;
  z-index: 3;
  border-radius: 10px;
  padding: 10px;
}

.posts h1 {
  color: #7b1fa2;
}

.posts mat-divider {
  width: 100%;
  background-color: #7b1fa2;
}

.content {
  margin-top: 10px;
  height: 530px;
  overflow: auto;
}

